@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family:"DM Sans", sans-serif;
}
:root { 
  /*primeiro grupo de cores*/
  --primary-color-orange:#FA5711;
  --primary-color-green-light:#FAFA9B;
  --primary-color-light-02:#F7F9F9;
  --primary-color-beige:#FFFAF1;
  --primary-color-orange-hover:#D23710;
  /*segundo grupo de cores*/
  --secondary-color-gray-headline:#212529;
  --secondary-color-gray-paragrafy:#495057;
  --secondary-color-white:#FFF;

}
/*header "menu" styles*/
.menu{
  width: auto;
  height: 4.5rem; 
  display: flex;
  background-color: var(--primary-color-orange);
  justify-content: space-between;
  align-items: center;
} 
.logo_principal{
  color: white;
  display: flex;
  margin-left: 7.9rem;
}
.itens{
  display: flex;
  width: 21.9rem;
  justify-content: space-between;
}
.itens .itens_links{
  text-decoration: none;
  color: white;
}
.agendar_header{
  display: flex;
  margin-right: 3.25rem;
  color: white;
  background-color: var(--primary-color-orange);
  border-radius: 40px;
  border-style: solid;
  padding: 0.62rem 1.5rem;
  border-color: white;
}

.logo_principal{
  width: 137px;
  height: 42px;
  /*flex-shrink: 0;
  color: #FFF;
  font-family: DM Sans;
  font-size: 24px;
  letter-spacing: 1.2px;
  */
}
/* section: hero*/
.hero{
  display: flex; 
  width: 100%;  
  
  justify-content: center;

  flex-wrap: wrap;

  
  background-color: var(--primary-color-green-light); 
}
/*pog para divs quebrar a hierarquia dos atributos falta dominio de  propriedades o que inviabiliza o mobile por hora*/
.pog{
  display: flex;
  justify-content: space-between;
}
.logo_principal__imagem{
  width: 26rem;
  margin-right: 157px;
  
}
.conteudo_banner{
  margin-top: 152px;
  width: 605px;
  margin-left: 123px;
}
.numbers{
  display: flex;
  width: 800px;
  justify-content: space-between;

  flex-wrap: wrap;
  height: 210px;

  background-color: var(--primary-color-beige);
}
/*A linha de raciocínio que estamos seguindo aqui está sendo baseada na experiencia, desafiando a colocar em prática sozinho todos os conceitos aprendidos e explorar outros devido a necessidade.*/